
body {
    padding-top: 54px;
  }
  

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.icon_star {
    width: 100%;
    max-width: 50px;
    height: auto;
    text-align: center;
    display:block;
    margin:0 auto;
    font-size: 4em;
    color: #2a7fffff;
}
.lead_spacer {
    padding-top: 30px;
    
}
.linklist_cocial{
    text-align: center;
    font-size: 20px;
    padding-left: 0px;
    
}
.linklist_cocial li{
    display: inline;
    margin: 3.15%;
    font-size: 3em;    
}
.linklist_cocial li a:hover{
    text-decoration: none;
}
.footer_height{
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn_02.white {
    padding: 5px;
    border: 1px solid #fff;
    color: #fff
    
}

.btn_02.white:hover {
    text-decoration: none;    
}


/*! Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
    .py-5 {
        /*padding-top: 0px !important;
        padding-bottom: 20px !important;*/
    }
    .emopic {
        background-image: none;        
    }
    .emopic_height {
        height: 0px;
    }
    .footer_text {
        display:none;
    }
    .py-5{
        padding-top: 0px !important;
    }
}
@media (min-width: 576px) {
    .emopic {
        background-image: url("../img/main_pic_s.jpg");        
    }
    .emopic_height {
        height: 80px;
    }
    .footer_text {
        display: none;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  
    .emopic {
        background-image: url("../img/main_pic_m.jpg");
    }
    .emopic_height {
        height: 150px;
    }
    .btn_02.white {
        border: none;        
    }
    .btn_02.btn_02.white:hover{
        text-decoration: none;
    }
    .footer_text {       
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  
    body {
        padding-top: 56px;
    }
    .emopic {
        background-image: url("../img/main_pic_l.jpg");
    }
    .emopic_height {
        height: 200px;
    }
    .btn_02.white {
        border: none;
    }
    a .btn_02:hover{
        text-decoration: none;
        cursor: default;
    }
    .footer_text {
        
        display: inline;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .emopic{
        background-image: url("../img/main_pic_xl.jpg");
    } 
    .emopic_height {
        height: 250px;
    }
    .btn_02.white {
        border: none;        
    }
    .btn_02.btn_02.white:hover{
        text-decoration: none;
        cursor: default;
    }  
    .footer_text {
        
        display: inline;
    }  
}